{% extends 'base.html.twig' %}

{% block title %}Hello ConsumableController!{% endblock %}

{% block body %}
<div class="consumableHeader">
    <header>
        <a href="/" class="logo">StonkSurfer</a>
        <ul id="navbar">
            <li>
                <a href="/register"><i class="fas fa-user-plus"></i> S'inscrire</a>
            </li>
            <li>
                <a href="/login"><i class="fas fa-user"></i> Se connecter</a>
            </li>
        </ul>
    </header>
</div>
<div class="consumableContentBx">
    <h1 class="title">Liste des cosmétiques</h1>
    <div class="consumableContent">
        <div class="consumable">
            <img src="#" alt="imageConsumable">
            <p>Description du produit</p>
            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
    </div>
</div>
{% endblock %}
