body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    background: #c2cdff;
    /* background: #ebf5fc; */
}

.line {
    padding: 5px;
    width: 17em;
    color: black;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
}
